:root {
	--primary-brand: #4d5ae5; /*Iris*/
	--pressed-state: #404bbf; /*Ocean*/
	--dark: #2e2f42; /*Navy blue*/
	--success: #31d0aa;
	--text: #434455; /*Slate*/
	--subtle-text: #8e8f99; /*Light Slate*/
	--light: #f4f4fd; /*cloud*/
	--white-background: #fff; /*White*/
	--modal-background: #fcfcfc; /*Dairy*/
}

/* Global Variable */
body {
	font-family: 'Roboto', sans-serif;
	background-color: var(--white-background);
	color: var(--text);
}

ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

a {
	text-decoration: none;
	margin: 0;
	padding: 0;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
	margin: 0;
	padding: 0;
}

.visually-hidden {
	position: absolute;
	width: 1px;
	height: 1px;
	margin: -1px;
	border: 0;
	padding: 0;
	white-space: nowrap;
	clip-path: inset(100%);
	clip: rect(0 0 0 0);
	overflow: hidden;
}

/* Layout */
.container {
	max-width: 320px;
	padding: 0 16px;
	margin: 0 auto;
}

@media screen and (min-width: 768px) {
	.container {
		max-width: 768px;
	}
}

@media screen and (min-width: 1158px) {
	.container {
		max-width: 1158px;
		padding: 0 15px;
	}
}

/* Header */

.page-header {
	border-bottom: 1px solid #e7e9fc;
	box-shadow:
		0 2px 1px 0 rgba(46, 47, 66, 0.08),
		0 1px 1px 0 rgba(46, 47, 66, 0.16),
		0 1px 6px 0 rgba(46, 47, 66, 0.08);
}

.header-container {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.nav-list,
.contacts {
	display: none;
}

.logo {
	text-transform: uppercase;
	font-family: 'Raleway', sans-serif;
	font-weight: 700;
	font-size: 18px;
	line-height: calc(21px / 18px);
	letter-spacing: 0.03em;
	color: var(--primary-brand);
}

.header-logo {
	padding: 16px 0;
	display: block;
}

.header-logo .logo-part {
	color: var(--dark);
}

.burger-menu-btn {
	background-color: transparent;
	border: none;
	padding: 0;
}

.burger-menu-icon {
	fill: #2f2f37;
	display: block;
}

@media screen and (min-width: 768px) {
	.burger-menu-btn {
		display: none;
	}

	.nav-list {
		display: flex;
		align-items: center;
		gap: 40px;
	}

	.header-nav {
		display: flex;
		align-items: center;
	}

	.header-logo {
		padding: 24px 0;
		margin-right: 120px;
	}

	.nav-list {
		display: flex;
		align-items: center;
		gap: 40px;
	}

	.nav-link {
		position: relative;
		font-weight: 500;
		font-size: 16px;
		line-height: calc(24px / 16px);
		color: var(--dark);
		letter-spacing: 0.02em;
		padding: 24px 0;
		display: block;
		transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
	}

	.nav-link:hover,
	.nav-link:focus {
		color: var(--pressed-state);
	}

	.current {
		color: var(--pressed-state);
	}

	.nav-link::after {
		content: '';
		position: absolute;
		left: 0;
		bottom: -1px;
		width: 100%;
		height: 4px;
		display: inline-block;
		background-color: var(--pressed-state);
		border-radius: 2px;

		transform: scaleX(0);
		transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
	}

	.nav-link.current::after {
		transform: scaleX(1);
	}

	.contacts {
		display: block;
	}

	.contacts-link {
		display: block;
		font-weight: 400;
		font-size: 12px;
		line-height: calc(14px / 12px);
		font-style: normal;
		letter-spacing: 0.04em;
		color: var(--text);
		transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
	}

	.contacts-list {
		display: flex;
		flex-direction: column;
		gap: 12px;
	}

	.contacts-link:hover,
	.contacts-link:focus {
		color: var(--pressed-state);
	}
}

@media screen and (min-width: 1158px) {
	.header-logo {
		margin-right: 76px;
	}

	.contacts-list {
		flex-direction: row;
		align-items: center;
		gap: 40px;
	}

	.contacts-link {
		font-size: 16px;
		line-height: calc(24px / 16px);
		letter-spacing: 0.02em;
		padding: 24px 0;
	}
}

/* Mobile Menu */

.mobile-menu {
	position: fixed;
	top: 0;
	left: 0;

	width: 100%;
	height: 100%;
	z-index: 9999;

	background-color: #fff;

	opacity: 0;
	visibility: hidden;
	pointer-events: none;

	transition:
		opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
		visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mobile-menu.is-open {
	opacity: 1;
	visibility: visible;
	pointer-events: auto;
}

.mobile-menu-container {
	display: relative;
	padding-top: 72px;
	padding-bottom: 40px;

	display: flex;
	flex-direction: column;
	height: 100%;
}

.mobile-menu-close {
	position: absolute;
	top: 24px;
	right: 24px;

	background-color: #e7e9fc;
	border-radius: 50%;
	border: 1px solid #0000001a;

	display: flex;
	align-items: center;
	justify-content: center;
	width: 24px;
	height: 24px;
	padding: 0;

	transition:
		background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
		border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mobile-menu-nav {
	margin-bottom: auto;
}

.mobile-nav-list {
	display: flex;
	flex-direction: column;
	gap: 40px;
}

.mobile-nav-link {
	font-weight: 700;
	font-size: 36px;
	line-height: calc(40px / 36px);
	letter-spacing: 0.02em;
	color: var(--dark);
}

.mobile-nav-link:hover,
.mobile-nav-link:focus {
	color: var(--pressed-state);
}

.current {
	color: var(--pressed-state);
}

.menu-contacts-list {
	display: flex;
	flex-direction: column;
	gap: 24px;
	margin-bottom: 48px;
}

.menu-contacts-link {
	display: block;
	font-weight: 500;
	font-size: 20px;
	line-height: calc(24px / 20px);
	font-style: normal;
	letter-spacing: 0.02em;
	color: var(--text);
	transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.menu-contacts-link:hover,
.menu-contacts-link:focus {
	color: var(--primary-brand);
}

.social-list {
	display: flex;
	/* gap: 40px; */
	justify-content: space-between;
	align-items: center;
	padding: 0;
}

.social-link {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 40px;
	height: 40px;
	background-color: var(--primary-brand);
	border-radius: 100%;
	transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-link:hover,
.social-link:focus {
	background-color: var(--pressed-state);
}

.social-icon {
	fill: var(--light);
	display: block;
	max-width: 100%;
	height: auto;
}

@media screen and (min-width: 768px) {
	.mobile-menu {
		display: none;
	}
}

/* Hero Section */

.banner {
	background:
		linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
		url('../images/Hero-background.jpg');
	max-width: 320px;
	margin: 0 auto;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	padding: 72px 0;
}

.banner-title {
	font-weight: 700;
	font-size: 36px;
	line-height: calc(40px / 36px);
	letter-spacing: 0.02em;
	max-width: 216px;
	text-align: center;
	color: var(--white-background);
	margin: 0 auto 72px;
}

.banner-button {
	color: var(--white-background);
	background-color: var(--primary-brand);
	box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
	font-weight: 500;
	font-size: 16px;
	line-height: calc(24px / 16px);
	letter-spacing: 0.04em;
	text-align: center;
	display: block;
	margin: 0 auto;
	padding: 16px 32px;
	border-radius: 4px;
	border: 0;
	transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
	min-width: 169px;
	max-height: 56px;
}

.banner-button:hover,
.banner-button:focus {
	background-color: var(--pressed-state);
}

@media screen and (min-width: 768px) {
	.banner {
		max-width: 768px;
		padding: 112px 0;
	}

	.banner-title {
		font-size: 56px;
		line-height: calc(60px / 56px);
		max-width: 496px;
		margin-bottom: 36x;
	}
}

@media screen and (min-width: 1158px) {
	.banner {
		max-width: 1158px;
		padding: 188px 0;
	}

	.banner-title {
		font-size: 56px;
		line-height: calc(60px / 56px);
		max-width: 496px;
		margin: 0 auto 48px;
	}

	.banner-button:hover,
	.banner-button:focus {
		cursor: pointer;
	}
}

/* Benefits */
.section {
	padding: 96px 0;
}

.section-title {
	font-weight: 700;
	font-size: 36px;
	line-height: calc(40px / 36px);
	letter-spacing: 0.02em;
	text-align: center;
	color: var(--dark);
	padding: 0 0 72px;
}

.icon-container {
	display: none;
}

.card-list {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	gap: 72px;

	justify-content: center;
}

.card-title {
	font-weight: 700;
	font-size: 36px;
	line-height: calc(40px / 36px);
	letter-spacing: 0.02em;
	color: var(--dark);
	text-align: center;
	margin-bottom: 8px;
}

.content {
	font-weight: 400;
	font-size: 16px;
	line-height: calc(24px / 16px);
	letter-spacing: 0.02em;
}

@media screen and (min-width: 768px) {
	.card-list {
		flex-wrap: wrap;
		gap: 24px;
		row-gap: 72px;
	}

	.card-item {
		width: calc((100% - 48px) / 2);
		transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
	}

	.card-title {
		text-align: left;
	}
}

@media screen and (min-width: 1158px) {
	.icon-container {
		display: flex;
		align-items: center;
		justify-content: center;
		height: 112px;
		width: 100%;
		background-color: #f4f4fd;
		border: 1px solid #8e8f99;
		border-radius: 4px;
		margin-bottom: 8px;
	}

	.card-title {
		font-weight: 500;
		font-size: 20px;
		line-height: calc(24px / 20px);
		letter-spacing: 0.02em;
	}

	.card-item {
		max-width: 264px;
	}
}

/* Team */

.team {
	background-color: var(--light);
}

.team-list {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: center;
	gap: 72px;
}

.team-card {
	background-color: var(--white-background);
	max-width: 264px;
	border-radius: 0 0 4px 4px;
	box-shadow:
		0 2px 1px 0 rgba(46, 47, 66, 0.08),
		0 1px 1px 0 rgba(46, 47, 66, 0.16),
		0 1px 6px 0 rgba(46, 47, 66, 0.08);
}

.team-card img {
	display: block;
}

.person-name {
	font-weight: 500;
	font-size: 20px;
	line-height: calc(24px / 20px);
	letter-spacing: 0.02em;
	color: var(--dark);
	margin-bottom: 8px;
}

.card-content {
	text-align: center;
	padding: 32px 16px;
}

.social-list {
	display: flex;
	gap: 24px;
	justify-content: center;
	align-items: center;
	margin-top: 8px;
	padding: 0;
}
.social-link {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 40px;
	height: 40px;
	background-color: var(--primary-brand);
	border-radius: 100%;
	transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-link:hover,
.social-link:focus {
	background-color: var(--pressed-state);
}

.social-icon {
	fill: var(--light);
	display: block;
	max-width: 100%;
	height: auto;
}

@media screen and (min-width: 768px) {
	.team-list {
		flex-wrap: wrap;
		gap: 24px;
		row-gap: 64px;
	}

	.team-card {
		width: calc((100% - 48px) / 2);
	}
}

@media screen and (min-width: 1158px) {
	.team-card {
		max-width: 264px;
	}

	.social-link:hover,
	.social-link:focus {
		cursor: pointer;
	}
}
